.form {
  display: grid;
  place-items: center;
}

.form form {
  display: grid;
  margin-top: 10em;
  padding: 1em 1.5em;
  width: 70%;
  background-color: white;
  color: black;
  border-radius: 6px;
}
.form label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.form input,
select,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form textarea {
  height: 20em;
}

.mini-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
