.recipe-card {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.recipe-card h3 {
  text-align: center;
  margin-bottom: 0;
}
.recipe-card img {
  width: 100%;
  padding: 1em;
}
.recipe-card-body table {
  width: 100%;
  text-align: center;
}

td:not(:last-child) {
  border-right: 2px solid #000;
}

tr:not(:last-child) td {
  border-bottom: 2px solid #000;
}

td > p {
  margin-top: 1em;
  padding: 0 1em;
}
